HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
com.example.demo.entity.Skill/_11_Lucene50_0.pos
com.example.demo.entity.Skill/_11_Lucene50_0.doc
com.example.demo.entity.Skill/_11.nvd
com.example.demo.entity.Skill/_11.fdt
com.example.demo.entity.Skill/_11_Lucene50_0.tim
com.example.demo.entity.Skill/_11.tvd
com.example.demo.entity.Skill/_4o.nvd
com.example.demo.entity.Specialized/_47_Lucene50_0.tim
com.example.demo.entity.Specialized/_47.fdt
com.example.demo.entity.Skill/_4o_Lucene50_0.doc
com.example.demo.entity.Specialized/_47_Lucene50_0.pos
com.example.demo.entity.Specialized/_47.tvd
com.example.demo.entity.Skill/_4o_Lucene50_0.tim
com.example.demo.entity.Skill/_4o_Lucene50_0.pos
com.example.demo.entity.Skill/_4o.fdt
com.example.demo.entity.Specialized/_47_Lucene50_0.doc
com.example.demo.entity.Skill/_4o.tvd
com.example.demo.entity.Specialized/_47.nvd
com.example.demo.entity.Specialized/_av_Lucene50_0.doc
com.example.demo.entity.Specialized/_av_Lucene50_0.tim
com.example.demo.entity.Skill/_c5.cfs
com.example.demo.entity.Skill/_c2_Lucene50_0.doc
com.example.demo.entity.Skill/_c2.nvd
com.example.demo.entity.Specialized/_av.tvd
com.example.demo.entity.Skill/_c3.cfs
com.example.demo.entity.Skill/_c2_Lucene50_0.pos
com.example.demo.entity.Skill/_c2.tvd
com.example.demo.entity.Skill/_c2.fdt
com.example.demo.entity.Specialized/_av.nvd
com.example.demo.entity.Skill/_c4.cfs
com.example.demo.entity.Specialized/_av_Lucene50_0.pos
com.example.demo.entity.Skill/_c2_Lucene50_0.tim
com.example.demo.entity.Specialized/_av.fdt
